.Bio {
  position: relative; /* enables z-index */
  z-index: 1;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: var(--spacing-md);
  margin: var(--spacing-lg) -2rem; /* extra width that aligns with the `pre` and `blockquote` blocks within the LongForm component */
}

@media (max-width: 600px) {
  .Bio {
    margin: var(--spacing-md) 0 0 0; /* extra width that aligns with the `pre` and `blockquote` blocks within the LongForm component */
  }
}

.ImgContainer {
  padding: var(--spacing-lg);
  padding-right: 0;
  width: 6rem;
}

@media (min-width: 600px) {
  .ImgContainer {
    width: 8rem;
  }
}

.Content {
  padding: var(--spacing-lg);
  padding-left: 0;
}

.Img {
  border-radius: 50%;
}
