.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-md) var(--spacing-lg);
  font-family: var(--font-family-secondary);

  border: 2px solid #000; /* black is just a placeholder to be overridden */
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color var(--duration) var(--easing);
}

.full-width {
  width: 100%;
}

.centered {
  margin: 0 auto;
}

.primary-variant {
  background-color: var(--interactive);
  color: var(--on-interactive);
  border-color: var(--interactive);
}

.primary-variant:hover {
  background-color: var(--interactive-hover);
}

.primary-variant:focus-visible {
  outline-color: var(--interactive-hover);
}

.secondary-variant {
  background-color: var(--on-interactive);
  color: var(--interactive);
  border-color: var(--interactive);
}

.tertiary-variant {
  background-color: var(--on-interactive);
  color: var(--interactive);
  border-color: transparent;
}

.secondary-variant:hover,
.tertiary-variant:hover {
  background-color: var(--on-interactive);
}

.ghost-variant {
  background-color: transparent;
  color: var(--surface);
  border-color: var(--surface);
}

.prefix-icon {
  margin-right: var(--spacing-sm);
}

.suffix-icon {
  margin-left: var(--spacing-sm);
}

.rounding-full {
  border-radius: calc(6 * var(--border-radius));
}

.rounding-md {
  border-radius: var(--border-radius);
}
