.Button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-md) var(--spacing-lg);
  font-family: var(--font-family-secondary);

  border: 2px solid #000; /* black is just a placeholder to be overidden */
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color var(--duration) var(--easing);
}

.FullWidth {
  width: 100%;
}

.Centered {
  margin: 0 auto;
}

.PrimaryVariant {
  background-color: var(--blue-ribbon);
  color: var(--white);
  border-color: var(--blue-ribbon);
}

.PrimaryVariant:hover {
  background-color: var(--blue);
}

.PrimaryVariant:focus-visible {
  outline-color: var(--blue);
}

.SecondaryVariant {
  background-color: var(--white);
  color: var(--blue-ribbon);
  border-color: var(--blue-ribbon);
}

.TertiaryVariant {
  background-color: var(--white);
  color: var(--blue-ribbon);
  border-color: transparent;
}

.SecondaryVariant:hover,
.TertiaryVariant:hover {
  background-color: var(--sea-shell);
}

.GhostVariant {
  background-color: transparent;
  color: var(--white);
  border-color: var(--white);
}

.PrefixIcon {
  margin-right: var(--spacing-sm);
}

.SuffixIcon {
  margin-left: var(--spacing-sm);
}

.RoundingFull {
  border-radius: calc(6 * var(--border-radius));
}

.RoundingMd {
  border-radius: var(--border-radius);
}
