.max-width {
  width: 100%;
  margin: 0 auto;
}

.max-width--xs {
  max-width: var(--breakpoint-xs);
}

.max-width--sm {
  max-width: var(--breakpoint-sm);
}

.max-width--md {
  max-width: var(--breakpoint-md);
}

.max-width--lg {
  max-width: var(--breakpoint-lg);
}

.max-width--xl {
  max-width: var(--breakpoint-xl);
}
