.hero,
.container {
  position: relative;
}

.hero {
  color: var(--on-interactive);
  z-index: 1;
}

.container {
  z-index: 3;
}

.title.title {
  /* specificity waaaars */
  font-weight: 700;
  margin-bottom: var(--spacing-lg);
  text-align: center;
}

.overlay,
.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  z-index: 2;
  background-color: var(--interactive-hover);
  opacity: 0.75;
}

.image {
  z-index: 1;
  object-fit: cover;
}

.links {
  display: flex;
  justify-content: space-around;
}

.icon-underlay {
  position: absolute;
  z-index: 4;
  top: -25%;
  left: -25%;
  background-color: var(--interactive);
  width: 150%;
  height: 150%;
  border-radius: 1.5rem;
  box-shadow: 0 var(--spacing-md) var(--spacing-md) calc(var(--spacing-md) * -1)
    rgba(0, 0, 0, 0.33);
  transform: scale(0);
  visibility: hidden;
  opacity: 0;
  transition:
    transform var(--duration) var(--easing),
    visibility var(--duration) var(--easing),
    opacity var(--duration) var(--easing),
    border-radius calc(var(--duration) * 2) var(--easing);
}

.icon-link {
  position: relative; /* allows absolute positioning within */
  color: currentColor;
  line-height: 0;
  outline-offset: 1.5rem;
}

.icon-link:focus .icon-underlay,
.icon-link:hover .icon-underlay {
  transform: scale(1);
  border-radius: 50%;
  opacity: 1;
  visibility: visible;
}

.icon {
  position: relative; /* allows use of z-index */
  z-index: 5;
  width: calc(2.5rem + 1.5vw);
  height: calc(2.5rem + 1.5vw);
}

@media (min-width: 800px) {
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
