.container {
  padding: var(--spacing-md) var(--spacing-md);
}

@media (min-width: 600px) {
  .container {
    padding-left: var(--spacing-lg);
    padding-right: var(--spacing-lg);
  }
}

.large {
  padding-top: var(--spacing-lg);
  padding-bottom: var(--spacing-lg);
}

.extra-large {
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
}

.extra-extra-large {
  padding-top: var(--spacing-2xl);
  padding-bottom: var(--spacing-2xl);
}
