.Container {
  padding: var(--spacing-md) var(--spacing-md);
}

@media (min-width: 600px) {
  .Container {
    padding-left: var(--spacing-lg);
    padding-right: var(--spacing-lg);
  }
}

.Large {
  padding-top: var(--spacing-lg);
  padding-bottom: var(--spacing-lg);
}

.ExtraLarge {
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
}

.ExtraExtraLarge {
  padding-top: var(--spacing-2xl);
  padding-bottom: var(--spacing-2xl);
}
