.article-card {
  height: 100%;
  position: relative; /* allows absolute positioning within */
  color: var(--outer-space);
  transition:
    transform var(--duration) var(--easing),
    box-shadow var(--duration) var(--easing);
}

.article-card p {
  font-size: 0.9rem;
  font-family: var(--font-family-secondary);
  line-height: 1.5;
  margin-bottom: var(--spacing-lg);
}

.link {
  display: block; /* fixes focus styling issues */
  outline-color: var(--blue-ribbon);
  border: 0;
}

.link .article-card:hover,
.link .article-card:focus-visible {
  transform: scale(1.005) translateY(-2px);
}

.date {
  display: block;
  font-family: var(--font-family-secondary);
  margin-top: var(--spacing-sm);
  font-weight: 700;
  font-size: 0.85rem;
  color: var(--boulder);
}

.header {
  margin-bottom: var(--spacing-md);
}

.heading.heading {
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--outer-space);
}

.read-more {
  color: var(--blue-ribbon);
  position: absolute;
  bottom: var(--spacing-md);
  right: var(--spacing-md);
}

.icon {
  fill: var(--blue-ribbon);
  width: 1rem;
  height: 1rem;
}
