.Card + .Card {
  margin-top: var(--spacing-lg);
}

@media (min-width: 800px) {
  .Resume-skills {
    columns: 2;
    max-height: 30rem;
    column-gap: var(--spacing-lg);
  }
}

.Position {
  display: grid;
  grid-gap: var(--spacing-lg);
  padding: var(--spacing-md) 0 var(--spacing-lg);
}

@media (min-width: 600px) {
  .Position {
    grid-template-columns: 3fr 5fr;
  }
}

.PositionHeadingWrapper,
.DateRange {
  display: inline-block;
}

.PositionSuperheadingWrapper {
  position: relative; /* allows absolute positioning within */
}

@media (min-width: 600px) {
  .PositionSuperheadingWrapper {
    transform: translateX(-1.75rem);
  }
}

.PositionSuperheading {
  display: inline-flex;
  align-items: center;
  padding: var(--spacing-sm) var(--spacing-sm);
  padding-right: var(--spacing-lg);
  font-family: var(--font-family-secondary);
  font-size: 1rem;
  font-weight: 400;
  height: var(--spacing-lg);
  min-width: 100%;
  color: var(--white);
  margin-bottom: var(--spacing-md);
  background-color: var(--blue-ribbon);
  position: relative; /* enables z-index */
  z-index: var(--layer-md);
  -webkit-clip-path: polygon(
    0 0,
    0 0,
    90% 0,
    100% 50%,
    90% 100%,
    0 100%,
    0 100%
  );
  clip-path: polygon(0 0, 0 0, 90% 0, 100% 50%, 90% 100%, 0 100%, 0 100%);
}

.PositionSuberHeadingShadow {
  position: absolute;
  width: 75%;
  height: var(--spacing-lg);
  display: inline-block;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--layer-sm);
  box-shadow: 0 var(--spacing-sm) var(--spacing-sm) -0.25rem
    var(--semi-transparent-black);
}

.DateRange {
  margin-top: var(--spacing-sm);
  font-weight: 700;
  font-size: 0.85rem;
}

.PositionSecondHalf,
.PositionSecondHalf ul {
  margin: 0;
}

@media (min-width: 600px) {
  .PositionSecondHalf {
    border-left: 1px solid var(--semi-transparent-black);
  }
}
