.card + .card {
  margin-top: var(--spacing-lg);
}

@media (min-width: 800px) {
  .resume-skills {
    columns: 2;
    max-height: 30rem;
    column-gap: var(--spacing-lg);
  }
}

.position {
  display: grid;
  grid-gap: var(--spacing-lg);
  padding: var(--spacing-md) 0 var(--spacing-lg);
}

@media (min-width: 600px) {
  .position {
    grid-template-columns: 3fr 5fr;
  }
}

.position-heading-wrapper,
.date-range {
  display: inline-block;
}

.position-superheading-wrapper {
  position: relative; /* allows absolute positioning within */
}

@media (min-width: 600px) {
  .position-superheading-wrapper {
    transform: translateX(-1.75rem);
  }
}

.position-superheading {
  display: inline-flex;
  align-items: center;
  padding: var(--spacing-sm) var(--spacing-sm);
  padding-right: var(--spacing-lg);
  font-family: var(--font-family-secondary);
  font-size: 1rem;
  font-weight: 400;
  height: var(--spacing-lg);
  min-width: 100%;
  color: var(--white);
  margin-bottom: var(--spacing-md);
  background-color: var(--blue-ribbon);
  position: relative; /* enables z-index */
  z-index: var(--layer-md);
  -webkit-clip-path: polygon(
    0 0,
    0 0,
    90% 0,
    100% 50%,
    90% 100%,
    0 100%,
    0 100%
  );
  clip-path: polygon(0 0, 0 0, 90% 0, 100% 50%, 90% 100%, 0 100%, 0 100%);
}

.position-suber-heading-shadow {
  position: absolute;
  width: 75%;
  height: var(--spacing-lg);
  display: inline-block;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--layer-sm);
  box-shadow: 0 var(--spacing-sm) var(--spacing-sm) -0.25rem
    var(--semi-transparent-black);
}

.date-range {
  margin-top: var(--spacing-sm);
  font-weight: 700;
  font-size: 0.85rem;
}

.position-second-half,
.position-second-half ul {
  margin: 0;
}

@media (min-width: 600px) {
  .position-second-half {
    border-left: 1px solid var(--semi-transparent-black);
  }
}
