.Card {
  background-color: var(--white);
  padding: var(--spacing-md);
  border-radius: 18px;
  border: 1px solid var(--semi-transparent-black);
  box-shadow: 0 var(--spacing-sm) var(--spacing-md) calc(-1 * var(--spacing-sm))
    rgba(0, 0, 0, 0.125);
}
