.navigation {
  position: relative; /* allows absolute positioning within */
}

.button {
  position: relative; /* allows use of z-index */
  z-index: 15;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--header-height);
  width: calc(var(--header-height) * 0.75);
  padding: 0;
  cursor: pointer;
  background: none;
  border: 0;
  margin-right: var(
    --spacing-md
  ); /* NOTE: must align correctly with Container component padding */
  transition: transform var(--duration) var(--easing);
}

.button:hover,
.button:focus {
  transform: scale(0.9);
}

.button.is-open:focus {
  outline-color: var(--on-interactive);
}

/* Some specificity wars here */
.button.is-open .bar.bar {
  margin: 0;
  background-color: var(--on-interactive);
}

.button.is-open .bar-1 {
  transform: translateY(1px) rotate(45deg);
}

.button.is-open .bar-2 {
  transform: translateY(-1px) rotate(-45deg);
}

.bar {
  height: 2px;
  width: calc(var(--header-height) * 0.75);
  margin: 6px 0;
  background-color: var(--text);
  transform-origin: center;
  transition: transform var(--duration) var(--easing);
}

.navigation.dark-theme .bar {
  background-color: var(--on-interactive);
}

@media (min-width: 800px) {
  .navigation.dark-theme .bar {
    background-color: var(--text);
  }
}

.navigation.light-theme .bar {
  background-color: var(--on-interactive);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: color-mix(in srgb, var(--interactive) 90%, transparent);
}

.link {
  font-family: var(--font-family-secondary);
  font-size: calc(1.75rem + 0.5vw);
  display: block;
  color: var(--on-interactive);
  padding: var(--spacing-xs) var(--spacing-sm);
  text-align: right;
  transform-origin: center;
  transition: transform var(--duration) var(--easing);
}

.link:hover {
  transform: translateY(-0.125rem);
}
