.breakout-container {
  position: relative;
  background-color: var(--surface);
  margin: 0 auto;
}

.breakout-container:after {
  content: '';
}

@media (min-width: 800px) {
  .breakout-container:after {
    position: absolute;
    bottom: calc(var(--spacing-lg) * -1);
    left: 0;
    width: 100%;
    height: var(--spacing-lg);
    background-color: var(--surface);
    z-index: var(--layer-md);
    box-shadow: 0 var(--spacing-sm) var(--spacing-md) rgba(0, 0, 0, 0.033);
  }

  .container {
    padding-bottom: 0;
  }
}
