.Header {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.Container {
  display: flex;
  justify-content: space-between;
}

.BrandLink {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--spacing-md);
  height: 100%;
  font-family: var(--font-family-secondary);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--outer-space);
  background-color: var(--white);
  border: 0;
}
