.Footer {
  background-color: var(--seaShell);
  color: var(--outerSpace);
  font-family: var(--fontFamilySecondary);
  text-align: center;
}

.Footer p {
  margin: var(--spacingMD) 0;
}

.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.SocialLinks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.SocialIcon {
  width: calc(1.25rem + 1vw);
  height: calc(1.25rem + 1vw);
}

.SocialLink,
.FooterLink {
  color: currentColor;
}

.FooterLink {
  border-bottom: 2px solid currentColor;
}
