.page-title {
  background-color: var(--blue-ribbon);
  color: var(--white);
  position: relative; /* enables use of z-index */
  z-index: 1;
  margin-top: -3rem;
  padding: var(--spacing-xl);
}

.heading {
  position: relative;
  z-index: 3;
  text-align: center;
}

@media (min-width: 600px) {
  .heading {
    text-align: left;
  }
}

.overlay,
.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  z-index: 2;
  background-color: var(--blue-ribbon);
  opacity: 0.85;
}

.image {
  z-index: 1;
  object-fit: cover;
}

.meta {
  position: relative;
  z-index: 3;
  width: 100%;
  color: var(--white);
  font-size: 1.125rem;
  font-weight: 700;
  text-align: left;
  margin-top: var(--spacing-md);
  text-align: center;
}

@media (min-width: 600px) {
  .meta {
    text-align: left;
  }
}
