.footer {
  background-color: var(--surface-subdued);
  color: var(--text);
  font-family: var(--font-family-secondary);
  text-align: center;
  flex: 1;
}

.footer p {
  margin: var(--spacing-md) 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.social-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.social-icon {
  width: calc(1.25rem + 1vw);
  height: calc(1.25rem + 1vw);
}

.social-link,
.footer-link {
  color: currentColor;
}
