.Footer {
  background-color: var(--sea-shell);
  color: var(--outer-space);
  font-family: var(--font-family-secondary);
  text-align: center;
  flex: 1;
}

.Footer p {
  margin: var(--spacing-md) 0;
}

.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.SocialLinks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.SocialIcon {
  width: calc(1.25rem + 1vw);
  height: calc(1.25rem + 1vw);
}

.SocialLink,
.FooterLink {
  color: currentColor;
}
