.PageLayout {
  font-family: var(--fontFamilySecondary);
  min-height: 100vh;
}

/* TODO: This won't work I'm sure */
.PageLayout .NavigationBar {
  background-color: var(--white);
}

.PageLayout .NavigationButton {
  outline-color: var(--white);
}
