.LongForm * + * {
  margin-top: var(--spacing-md);
}

.LongForm * + h2 {
  margin-top: var(--spacing-lg);
}

.LongForm * + h3,
.LongForm * + h4,
.LongForm * + h5,
.LongForm * + h6 {
  margin-top: var(--spacing-md);
  margin-bottom: 0;
}

.LongForm p + h3,
.LongForm p + h4,
.LongForm p + h5,
.LongForm p + h6 {
  margin-top: var(--spacing-lg);
}

.LongForm * + li {
  margin-top: var(--spacing-sm);
}

.LongForm h2 {
  position: relative;
  padding-bottom: var(--spacing-sm);
}

.LongForm h2:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: var(--spacing-lg);
  height: var(--spacing-xs);
  background-color: rgba(0, 0, 0, 0.125);
}

.LongForm p {
  margin-bottom: 0;
}

.LongForm p,
.LongForm li {
  line-height: 1.75;
  color: var(--boulder);
}

.LongForm p a,
.LongForm li a {
  color: var(--blue-ribbon);
  padding-bottom: 1px;
  border-bottom: 2px solid currentColor;
}

.LongForm code {
  color: black;
  background-color: transparent !important;
  font-size: 0.85rem;
}

.LongForm.LongForm pre,
.LongForm blockquote {
  margin: var(--spacing-lg) -2rem;
}

@media (max-width: 600px) {
  .LongForm.LongForm pre,
  .LongForm blockquote {
    margin: var(--spacing-md) 0;
  }
}

.LongForm.LongForm pre {
  display: block;
  background-color: var(--outer-space);
  background: var(--outer-space);
  border-radius: var(--border-radius);
  padding: var(--spacing-md);
  box-shadow: 0 1rem 1rem -1rem rgba(0, 0, 0, 0.33);
}

.LongForm.LongForm pre code {
  background: transparent;
  color: #fff;
  box-shadow: none;
  font-size: 0.9rem;
  line-height: 1.75;
}

.LongForm blockquote {
  background-color: var(--sea-shell);
  padding: var(--spacing-lg);
  color: var(--outer-space);
  border-left: 0.5vw solid var(--outer-space);
}

.LongForm blockquote p {
  margin: 0;
}

.LongForm blockquote * {
  color: var(--outer-space);
}

.LongForm img {
  width: 100%;
}
