.long-form {
  color: var(--text);
}

.long-form * + * {
  margin-top: var(--spacing-md);
}

.long-form * + h2 {
  margin-top: var(--spacing-lg);
}

.long-form * + h3,
.long-form * + h4,
.long-form * + h5,
.long-form * + h6 {
  margin-top: var(--spacing-md);
  margin-bottom: 0;
}

.long-form p + h3,
.long-form p + h4,
.long-form p + h5,
.long-form p + h6 {
  margin-top: var(--spacing-lg);
}

.long-form * + li {
  margin-top: var(--spacing-sm);
}

.long-form h2 {
  position: relative;
  padding-bottom: var(--spacing-sm);
}

.long-form h2:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: var(--spacing-lg);
  height: var(--spacing-xs);
  background-color: var(--border);
}

.long-form p {
  margin-bottom: 0;
}

.long-form p,
.long-form li {
  line-height: 1.75;
  color: var(--text-subdued);
}

.long-form p a,
.long-form li a {
  color: var(--interactive);
  padding-bottom: 1px;
  border-bottom: 2px solid currentColor;
}

.long-form :not(pre) > code {
  color: var(--text);
  border: 1px solid var(--border);
  background-color: var(--surface-subdued);
  padding: 0.125rem 0.25rem;
  border-radius: 3px;
  font-size: 0.85rem;
}

.long-form.long-form pre,
.long-form blockquote {
  margin: var(--spacing-md) -1rem;
}

@media (max-width: 600px) {
  .long-form.long-form pre,
  .long-form blockquote {
    margin: var(--spacing-md) 0;
  }
}

.long-form.long-form pre {
  display: block;
  border-radius: calc(var(--border-radius) * 2);
  padding: var(--spacing-md);
  border: 1px solid var(--border);
  box-shadow: 0 1rem 1rem -1rem var(--shadow);
  overflow-x: auto;
}

.long-form.long-form pre code {
  background: transparent !important;
  display: block;
  font-size: 0.825rem;
  line-height: 1.75;
  padding: 0;
}

/* Highlighted lines (when using {2-4} syntax) */
.long-form.long-form pre .highlighted {
  background-color: rgba(255, 255, 255, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--spacing-md));
  padding: 0 var(--spacing-md);
}

.long-form blockquote {
  background-color: var(--surface-subdued);
  padding: var(--spacing-lg);
  color: var(--text);
  border-left: 0.5vw solid var(--border);
}

.long-form blockquote p {
  margin: 0;
}

.long-form blockquote * {
  color: var(--text);
}

.long-form img {
  width: 100%;
}
