.hero {
  margin-top: calc(var(--header-height) * -1);
  padding-top: var(--header-height);

  @media (min-width: 800px) {
    padding-top: 0;
  }
}

@media (min-width: 800px) {
  .main {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }

  .sidebar.sidebar {
    margin-top: calc(var(--header-height) * -1);
  }
}
